.discounts__container {
  display: flex;
  justify-content: center;

  margin-top: 120px;
}

.discounts__flexContainer {
  display: flex;
  flex-direction: column;

  max-width: 1000px;
  width: 100%;

  margin: 0 20px;
}

.discounts__title {
  font-family: 'Roboto-Regular';
  font-size: 30px;
  line-height: 33px;
  text-align: center;

  margin: 10px;
}

.discounts__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.discount {
  display: flex;
  flex-direction: row;
  column-gap: 30px;

  padding: 20px 30px;
  margin-top: 10px;

  background-color: #EF6500;
}

.discount__img {
  width: 300px;

  box-shadow: rgb(255, 255, 255) 0px 0px 25px 4px;
}

.discount__description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.discount__descriptionNumber {
  font-family: 'Montserrat-SemiBold';
  font-size: 25px;
  color: #FFFFFF;
}

.discount__descriptionText {
  font-family: 'Montserrat-Regular';
  font-size: 20px;
  color: #FFFFFF;
}

.discount__descriptionTime {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 10px;
}

.discount__descriptionTime__logo {
  width: 40px;
}

.discount__descriptionTime__text {
  font-family: 'Montserrat-Regular';
  font-size: 20px;
  color: #FFFFFF;
}

/* Media Queries */
@media (min-width: 992px) and (max-width: 1199px) {
  .discounts__container {
    margin: 80px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .discounts__container {
    margin: 80px 0;
  }

  .discount__description {
    justify-content: space-between;
  }

  .discount__img {
    width: 250px;
  }
  
  .discount__descriptionNumber {
    font-size: 23px;
  }

  .discount__descriptionText,
  .discount__descriptionTime__text {
    font-size: 18px;
  }

  .discount__descriptionTime__logo {
    width: 38px;
  }
}

@media (max-width: 767px) {
  .discounts__container {
    margin: 80px 0;
  }

  .discount__description {
    row-gap: 10px;
  }

  .discount {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}