.price__container {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.price__flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  max-width: 1360px;
  width: 100%;
  margin: 0 20px;
}

.price__title {
  font-family: 'Roboto-Regular';
  font-size: 30px;
  line-height: 33px;
  margin: 10px;
  text-align: center;
}

.price__description {
  font-family: 'Roboto-Regular';
  font-size: 22px;
  color: #EF6500;
  text-align: center;

  margin-bottom: 30px;
}

.price__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.price__itemPhoto {
  border: 1px solid #EF6500;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.price__itemTitle {
  font-family: 'Roboto-Bold';
  font-size: 18px;
  text-align: center;
}

/* finished */
.finished__container {
  display: flex;
  justify-content: center;

  margin: 100px 0;
}

.finished__flexContainer {
  display: flex;
  flex-direction: column;

  max-width: 1150px;
  width: 100%;

  margin: 0 20px;
}

.finished__title {
  font-family: 'Roboto-Regular';
  font-size: 30px;
  line-height: 33px;
  margin-bottom: 30px;
  text-align: center;
}

.finished__list {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 20px;
}

.finished__item {
  display: flex;
  flex-direction: column;
  width: 370px;
  padding: 5px 10px;
  border: 2px solid #EF6500;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.finished__item__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto-Bold';
  font-size: 22px;
  height: 53px;
  margin: 10px;
}

.finished__item__photo {
  width: 350px;
}

.finished__item__size,
.finished__item__perforationType,
.finished__item__size,
.finished__item__kolvo,
.finished__item__price {
  font-family: 'Roboto-Regular';
  margin-top: 5px;
  font-size: 18px;
}

.bold {
  font-family: 'Roboto-Bold';
}

/* advantages */
.advantages__container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.advantages__flexContainer {
  display: flex;
  flex-direction: column;
  max-width: 1150px;
  width: 100%;
  row-gap: 20px;

  margin: 0 20px;
}

.advantages__description {
  font-family: 'Roboto-Regular';
  font-size: 18px;
}

.advantages {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.advantages__title {
  font-family: 'Roboto-Bold';
  font-size: 18px;
}

.advantages__list {
  padding-left: 13px;
}

.advantages__item {
  color: #EF6500;
  font-family: 'Roboto-Regular';
  font-size: 18px;
  margin-bottom: 5px;
}

.color__black {
  color: #000000;
}

/* Media Queries */
@media (min-width: 992px) and (max-width: 1199px) {
  .price__container {
    margin-top: 80px;
  }

  .finished__container {
    margin: 50px;
  }

  .advantages__container {
    margin-bottom: 80px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .price__container {
    margin-top: 80px;
  }

  .finished__container {
    margin: 50px;
  }

  .finished__item {
    width: 325px;
  }

  .finished__item__photo {
    width: 300px;
  }

  .advantages__container {
    margin-bottom: 80px;
  }
}

@media (max-width: 767px) {
 .price__container {
    margin-top: 80px;
  }

  .finished__container {
    margin: 50px;
  }

  .finished__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .finished__item {
    width: 325px;
  }

  .finished__item__photo {
    width: 300px;
  }

  .advantages__container {
    margin-bottom: 80px;
  }
}